# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:3.6.7

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - run: mkdir /tmp/out
      - run: curl https://raw.githubusercontent.com/jodyphelan/tbdb/master/tbdb.csv > tbdb.master.csv
      - run: pip install --user PyGithub
      - run: pip install --user statsmodels
      - run: pip install --user tqdm
      - run: python scripts/tbdb_bot.py compare --csv1 tbdb.master.csv --csv2 tbdb.csv --github
      - store_artifacts:
          path: /tmp/out
